@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFamily: 'Amatic SC', sans-serif, cursive;
  --green: #17594a;
  --Awhite: antiquewhite;
  --white: white;
  --background: #12181f;
}

.day {
  background-color: var(--Awhite);
  font-family: var(--fontFamily);
  color: var(--green);
  /* el boton va de var:( --background); 
  las letras de dentro del boton van var(--Awhite)*/
}
body {
  min-height: 100vh;
  min-width: 80vw;
  background-color: var(--background);
  border: 0.5rem solid var(--white);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--fontFamily);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section#attempts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section.panel {
  min-height: 100vh;
  padding: 2rem;
  border: 0.5rem solid var(--white);
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  place-content: center; */
}

section.start {
  background-color: var(--background);
  color: var(--white);
  font-size: 3rem;
}

p.rules {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  font-size: 2rem;
  margin-top: 15px;
}

button#startBtn:hover {
  background-color: var(--Awhite);
  translate: 0 -5px;
  cursor: all-scroll;
}
button#startBtn {
  padding: 2px 80px;
  border-radius: 15px;
  font-size: 1.8rem;
  font-family: var(--fontFamily);
  color: var(--green);
  transition: all 0.5s ease-in-out;

  /* padding: 1rem;
  font-weight: 900;
  width: 20rem;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  margin: 4rem auto 0 auto;
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;
  text-transform: uppercase; */
}

.panel.hidden {
  display: none;
}

h1 {
  font-size: 3.1rem;
  text-align: center;
  padding-top: 2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

button#resetBtn {
  padding: 2px 80px;
  border-radius: 15px;
  font-size: 1.8rem;
  font-family: var(--fontFamily);
  color: var(--green);
  transition: all 0.5s ease-in-out;
}

button#resetBtn:hover {
  background-color: var(--Awhite);
  translate: 0 -5px;
  cursor: pointer;
}

footer {
  padding: 2rem;
  text-align: center;
  font-size: 1.3rem;
}

.actions {
  display: flex;
  justify-content: center;
}

#container {
  display: grid;
  width: 80%;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 120px);
}

.card {
  height: 120px;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card:hover:not(.flipped) {
  /* translate: 0 -5px; */
  transform: scale(1.05);
  z-index: 10;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.card .front {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.card .back {
  background-image: url(/img/card-background.jpg);
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}

section.end {
  padding-top: 350px;
  font-size: 1.5rem;
}

button.homeBtn {
  padding: 2px 80px;
  border-radius: 15px;
  font-size: 1.8rem;
  font-family: var(--fontFamily);
  color: var(--green);
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 600px) {
  #container {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(2, calc(120px / 2 * 3));
  }

  .card {
    height: calc(120px / 2 * 3);
  }

  .card .front {
    font-size: 40px;
  }
  section.end {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  footer {
    font-size: 3rem;
  }

  #container {
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
  }

  button#resetBtn {
    padding: 8px 160px;
    border-radius: 15px;
    font-size: 2.5rem;
  }

  .card {
    height: calc(140px / 2 * 3);
  }
  .card .front {
    font-size: 50px;
  }

  section.end {
    font-size: 3.5rem;
  }
}
