body {
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../background/pexels-photo-2670898.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 1100px 900px;
  background-color: rgb(3, 6, 37);
  /* color de fondo como fallback */

}

.card {
  width: 85px;
  height: 105px;
  perspective: 600px;
  margin: 0.5rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-image: url("../background/il_570xN.4039323250_3f4d.jpg.avif")
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  place-content: center;
  font-size: 3rem;
  border-radius: 1rem rgb(3, 8, 43);
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(rgb(226, 242, 222), rgb(122, 124, 121));
  transform: rotateY(180deg);
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}