@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Amatic SC', cursive;
}

header {
  height: 10%;
  padding-top: 20px;
}

h1 {
  font-size: 3rem;
  position: absolute;
}

main {
  display: grid;
  gap: 14px;
  height: 65%;
  grid-template-columns: repeat(4, 80px);
  /* grid-template-rows: repeat(2, 160px); */
  place-content: center;
}

article {
  display: flex;
  /* border: 1px solid black; */
  height: 100px;
  width: 80px;
  justify-content: center;
  align-items: center;
}

section#attempts {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  height: 15%;
  font-size: 2rem;
}

footer {
  height: 10%;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.card {
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1000ms;
  /* ease-in-out */
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  /*para no tener problemas luego con el responsive */
  height: 100%;
  width: 100%;
}

.front {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  font-size: 40px;
  /* position: absolute; */
}

.back {
  background-image: url(/img/card-background.jpg);
  background-position: center center;
  background-size: 100%;
}

button#resetBtn {
  padding: 8px 80px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: 'Amatic SC', cursive;
}

/* 
.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
} */
